.activeLodare{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: rgba(0, 0, 0, 0.479);
}
.disableLodare{
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
}
.msg{
    height: 50%;
    width: 50%;
    margin: auto;
    background-color: blanchedalmond;
}