.gallery_open{
    width: 100%;
    background-color: #5D1916;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.galcol{
    /* background-image: linear-gradient(to right,rgb(10, 20, 19),rgb(6, 41, 36)); */
    background-color: rgb(10, 20, 19);
    min-height: 100vh;
    width: 100%;
    padding-bottom: 50px;
}
.image_bg{

    height: 100%;
    width: 100%;
   position: relative;
   background-color: rgb(255, 255, 255);
   background-size: cover;
   object-fit: cover;
 

}

.images{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
   
}







.cb-slideshow,
.cb-slideshow:after { 
  height: 100%;
  width: 100%;
    z-index: 0; 

}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../image/goodpic/home/jeses.jpg) repeat top left; 
}



.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
 
    background-repeat: none;
background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 60s linear infinite 0s; 
}





.cb-slideshow li:nth-child(1) span { 
    background-image: url(../image/goodpic/home/electrik.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../image/goodpic/home/jaffa.jpg) ;
    animation-delay: 10s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../image/goodpic/home/jeses.jpg) ;
    animation-delay: 20s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../image/goodpic/home/yello.jpg) ;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../image/goodpic/home/electrik.jpg) ;
    animation-delay: 40s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../image/goodpic/home/jaffa.jpg) ;
    animation-delay: 50s; 
}


@media screen and (max-width: 840px) { 
    .cb-slideshow li span { 
       
        background-size: cover !important;
        object-fit: cover !important;
        background-repeat: no-repeat ;
    
    
    
    }
    .cb-slideshow li:nth-child(1) span { 
        background-image: url(../image/goodpic/home/yello.jpg) 
    }
    .cb-slideshow li:nth-child(2) span { 
        background-image: url(../image/goodpic/home/electrik.jpg) ;
        animation-delay: 10s; 
    }
    .cb-slideshow li:nth-child(3) span { 
        background-image: url(../image/goodpic/home/jaffa.jpg) ;
        animation-delay: 20s; 
    }
    .cb-slideshow li:nth-child(4) span { 
        background-image: url(../image/goodpic/home/jeses.jpg) ;
        animation-delay: 30s; 
    }
    .cb-slideshow li:nth-child(5) span { 
        background-image: url(../image/goodpic/home/yello.jpg) ;
        animation-delay: 40s; 
    }
    .cb-slideshow li:nth-child(6) span { 
        background-image: url(../image/goodpic/home/jaffa.jpg) ;
        animation-delay: 50s; 
    }

}




@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    4% { opacity: 1; animation-timing-function: ease-out; }
    18% { opacity: 1 }
    22% { opacity: 0 }
    100% { opacity: 0 }
}







.no-cssanimations .cb-slideshow li span{
	opacity: 1;
    
} 






@media screen and (max-width: 1440px) { 
   .div_inside_contact{
       width: 80%;
   }
   .form_info_div{
       padding: 20px;
   }
   .nav_bar{
       width: 97% !important;
       justify-content: space-evenly;
   }
   .div_inside_contact{
       width: 89% !important;
   }
   .div_holding_info{
       padding-left: 30px !important;
   }
   .squers_div{
       width: 79% !important;
   }
   .option{
    height: 35vh !important;
    
    
    
}
   .centergallery{
       width: 85% !important;
   }
   .image_box{
       height: 100% !important;
     
   }
   /* .image_box::after{
    content: '';
   
    display: block;
    padding-bottom: 100%;
    background-color: #5D1916;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   } */
}
@media screen and (max-width: 800px) { 
    
    .Link{
        padding: 0 !important;
    }
    .name{
        font-size: 2rem !important;
        margin-left: 5px !important ;
        margin-right: 20px !important;
    }
    .centergallery{
        width: 95% !important;
    }
    .grid{
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 20px !important;
    }

 
    .wid70margincenter{
        min-height: 100vh !important;
    }
    .imagew{
        margin-top: 50px;
        width: 60% !important;
     height: auto !important;
       margin: 0 auto !important;
      
    }
    .space20{
        height: 0 !important;
    }
    .bgimage{
 width: 100% !important;
 height: 20vh !important;
 margin-bottom: 20px !important;
 margin-left: 20px !important;
    }
    .fs1{
        font-size: 16px !important;
    
    }
  
    .words{
        width: 98% !important;
        margin: 0 auto !important;
        margin-right:0 !important;
      margin-bottom: 50px !important;
      
    }
    .txtspace{
        line-height:25px !important;
        font-size: 16px !important;
    }
    
}
@media screen and (max-width: 800px) {

    .links_all_div {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
        width: 0 !important;
    }
    .name{
        font-size: 20px !important;

    }
    .phonnav{
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;

    }
    .nav_bar{
        justify-content: space-between !important;
    }
    .imgf{
        padding: 4px !important;
       max-width: 90% !important;
       height:auto !important;
    }
    .white{
        width: 90% !important;
    }

    .felxrowtocol{
        flex-direction: column-reverse !important;
    }
    .div_inside_contact{
        width: 95% !important;
    }
    .contact_form{
        width: 100% !important;
        align-items: flex-start !important;
        height: 90vh !important;
        
    }
    .form_info_div{
        padding: 0 !important;
        width: 100% !important;
       
    }
    .input{
        font-size: 16px !important;
        height: 50px !important;
    }
    .info_mario{
        width: 100% !important;   
       border-right: none !important;
       margin-top: 50px;
      border-top: 1px solid black;
      padding-top: 20px;
     
    }
    .div_holding_info{
        padding-left: 0 !important;
    }
    .h90{
min-height: 100vh !important;

    }
    .h901{
        height: auto !important;
    }
    .center{
    
        height: auto !important;
    
    
    }

 }

