.all_nav{
    height: 8vh;
    width: 100%;
  background-color: #5cb6a4;
  z-index: 999999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_bar{
    height: 100%;
    width: 80%;
    align-items: flex-end;
}
.links_all_div{
    height: 100%;
  
}
.lu_links{
    align-items: flex-end;
height: 100%;
position: relative;

}
.po{
    position: relative;
}
.name{
    margin-left: 35px;
    margin-right: 59px;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Mulish';
    color: rgb(10, 37, 37);
}

.Link{
    margin-right: 20px;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s ease;
    height: 30%;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
   
}

.Link:hover{
    background-color: #fff;
}

.gallery_link:hover ~ .activeNav{
    opacity: 1;
    position: absolute;
    bottom: -95px;
    left: 0;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 10px;
    visibility: visible;
    height: auto;
    width: 170%;
   
}


/* משאיר את עצמו פתוח */
.activeNav:hover{
    opacity: 1;
    position: absolute;
    bottom: -95px;
    left: 0;
    background-color: rgb(255, 255, 255);
    text-align: left;
    
    visibility: visible;
    height: auto;
    width: 170%;

}


.active{
    background-color: #fff;
}

.gallery_link{
    position: relative;
}

.activeNav{  
    opacity: 0;
     position: absolute;
    bottom: -95px;
    left: 0;
  height: auto;
  visibility: hidden;
   width: 0;
    transition: all .2s ease;
    z-index: 999999999;

}
.Link_hiden{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
 margin-left: 5px;
   text-align: left;
}

.Link_hiden:hover{
   background-color: rgb(250, 246, 242);
   
}

.disableNAv{
    width: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all .2s ease;

}




.phonnav{
    opacity: 0;
    visibility: hidden;
    display: none;
    align-self: center;
   
}

.displayonclick{
    height: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5cb6a4;
    z-index: 999999999999999;

}
.activeNavPhone{
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5cb6a4;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999999999999999;

}
.centerall_nav_phon{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navphonlinks{
    height: 70%;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
   

}
.Linkphon{
   width: 70%;
   background-color: rgb(110, 110, 110);
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.exitbtnphon{
    position: absolute;
    top: 1%;
    right: 5%;
    font-size: 2rem;
}

.menubaricon{
    width: 35px;
    height: 3px;
    background-color: #262626;
    margin: 6px 0;
}